@model ICT2106.Models.ActionTableModule.ActionModel
@{
    ViewData["Title"] = "Action Home Page";
}

<!-- This section display everytime -->
<section id="sel_Cat">
    <h1>Select Action Category:</h1>

    <br />
    <form method="post" asp-action="Index">
        <div class="form-group">
            <label for="cat_sel">Select Category:</label>
            <select class="form-control" id="cat_sel" asp-for="@Model.ACat">
                <option selected>@Model.getCategoryItem(0)</option>
                <option>@Model.getCategoryItem(1)</option>
                <option>@Model.getCategoryItem(2)</option>
                <option>@Model.getCategoryItem(3)</option>
                <option>@Model.getCategoryItem(4)</option>
            </select>
        </div>

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="actionSubmit" value="Select Category">
        </div>
    </form>
</section>

<br />
<hr />

<!-- This section display only when the passed in ACat != null -->
@if (@Model.ACat != null)
{
    <form method="post" asp-action="Index">
        <div class="form-group">
            <label for="Aname">Action Name:</label>
            <input type="text" class="form-control" id="Aname" asp-for="@Model.AName" placeholder="Enter Action Name...">
        </div>

        <div class="form-group">
            <label for="Cname">Category:</label>
            <input type="text" class="form-control" id="Cname" asp-for="@Model.ACat" value="@Model.ACat" readonly>
        </div>

        <div class="form-group">
            <label for="Dname">Device Name:</label>
            <select class="form-control" id="Dname" asp-for="@Model.DName">
                <option>Bulb</option>
                <option>Lamp</option>
            </select>
        </div>

        @for (var i = 0; i < Model.AProp.Count; i++)
        {
            <div class="form-group">
                <label for="opt_@i">@Model.AProp[i]:</label>
                <input type="text" class="form-control" id="opt_@i" name="opt_@i" placeholder="Enter @Model.AProp[i] Value...">
            </div>
        }

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="actionSubmit" value="Create Action">
        </div>
    </form>
}
