@using ICT2106.Models.RuleTableModule
@using ICT2106.Models.DevcatTableModule
@using ICT2106.Models.DevcondTableModule
@model (ICT2106.Models.RuleTableModule.IRule,ICT2106.Models.DevcatTableModule.IDevcat , ICT2106.Models.DevcondTableModule.IDevcond)
@{
    ViewData["Title"] = "RuleCreation";
    var viewDataRule = ViewData["RuleData"] as IList<IRule>;
    var CatData = ViewData["CatData"] as IList<IDevcat>;
    var CondData = ViewData["DeviceData"] as IList<IDevcond>;
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
        $(document).ready(function () {
            $("#catsel").change(function() {
                    if(this.value == 1){
                        $("#icid").val(1);
                        $("#Timer").hide();
                        $("#Motion").show();
                    }
                    else if(this.value == 2){
                        $("#icid").val(2);
                        $("#Motion").hide();
                        $("#Timer").show();
                    }
          });

          $("#dev").change(function() {
                $("#idev").val(this.value);
          });

          $("#devT").change(function() {
                $("#idevT").val(this.value);
          });
        });
    });

      function editmode(rid){
        $(rid).hide();
        $(rid+"Form").show();
      }

      function viewmode(rid){
        $(rid+"Form").hide();
        $(rid).show();
      }
    </script>
    <h1>Rules</h1>
    <br/>
    <button type="button" style="float: right;" class="btn btn-primary ml-1" data-toggle="modal" data-target="#myModal">Add</button>
    <br/>
    <ul class="list-group">
    @for (var i = 0; i < viewDataRule.Count; i++) 
    {       
            <li id="Rule@(i)" class="list-group-item">
            <td><b><u>Rule ID:</u></b> @viewDataRule[i].RuleID</td> 
            <br/>  
            <td><b><u>Rule Name:</u></b> @viewDataRule[i].RuleName</td>

            <br/>
            <div id="condition" data-toggle="collapse" href='#collapseCondition@(i)' class="btn btn-default border rounded" type="button">View Condition</div>
            <div class="collapse" id='collapseCondition@(i)'>
              <div class="card card-body">
                  <td  id="ConditionID" name="ConditionID"><b><u>Condition ID:</u></b> @viewDataRule[i].Condition.ConditionID</td><br/>
  
		              <td><b><u>Condition Name:</u></b> @viewDataRule[i].Condition.CName</td><br/>
   
                  <td><b><u>Device ID:</u></b> @viewDataRule[i].Condition.DevID</td><br/>

                  <td><b><u>Device Name:</u></b> @viewDataRule[i].Condition.DName</td><br/>
                 
                  <td><b><u>Device Category:</u></b> @viewDataRule[i].Condition.Devcat</td>
              </div>
            </div>
              <!-- Now the form works this way as seen below, the string input from the controller is through the name="deleteRule" the name has to match the one in the controller -->
              <form method="post"  method="get" action="/Rule/RuleDelete">
                <input id="RuleIDDel" type="hidden" name="deleteRule" class="btn btn-default border" value="@viewDataRule[i].RuleID"/>
                <button  type="submit" style="float: right;" class="btn btn-labeled btn-danger">
                <span class="btn-label"><i class="fas fa-trash-alt"></i></span></button>
              </form>
                <button type="button" onclick="editmode('#Rule@(i)')" style="float: right;" class="btn btn-labeled btn-info mr-1">
                <span class="btn-label">Edit</span></button>
            </li>
      <div id="Rule@(i)Form" class="border" style="display:none; padding:30px;">
      <form method="post" method="get" action="/Rule/RuleAdd">
            <input id="RuleID" type="hidden" name="RuleID" class="btn btn-default border" value="@viewDataRule[i].RuleName"/>
            <label>Rule Name:</label><br/>
            <input id="RuleName" type="text" name="ruleName" class="btn btn-default border" value="@viewDataRule[i].RuleName"/>
            <br/>
            <br/>
            <div id="condition" data-toggle="collapse" href="#collapseCondition" class="btn btn-default border rounded" type="button">Edit Condition</div>
            <div class="collapse" id="collapseCondition">
              <div class="card card-body">  
                <!--Condition Stuff here-->
              </div>
            </div>
            <br/>
            <br/>
            <div id="action" class=" btn btn-default border rounded" data-toggle="collapse" href="#collapseAction"  type="button" >Add Action</div><br/> 
            <div class="collapse" id="collapseAction">
              <div class="card card-body">
               Put Action stuff here
              </div>
            </div>
            <br/>
            <br/>
            <button  type="submit" class="btn btn-default">Submit</button><br/> 
            <button type="button" class="btn btn-default" onclick="viewmode('#Rule@(i)')">Close</button>
      </form>
      </div>
    }
    </ul>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form method="post" method="get" action="/Rule/RuleAdd">
        <div class="modal-body">
            <label>Rule Name:</label><br/>
            <input id="RuleNameIn" type="text" name="addRule" class="btn btn-default border"/>
            <br/>
            <br/>
            <!--Condition from here-->
            <div id="condition" data-toggle="collapse" href="#collapseCondition" class="btn btn-default border rounded" type="button">Add Condition</div>
            <div class="collapse" id="collapseCondition">
              <div class="card card-body">  
                  <section id="sel_ConCat">
                        <h1>Condition Details:</h1>
                                <label for="cat_sel">Select Category:</label>
                                <select id="catsel" class="form-control" name="category" onchange="this">
                                    <option>--Please choose a category--</option>
                                    @if(CatData != null){
                                      @for (var i = 0; i < CatData.Count; i++) 
                                      {
                                        <option id="cat"value="@CatData[i].CatID">@CatData[i].CatName </option> 
                                      }
                                    }  
                                </select>
                    <input id="icid" type="text" class="form-control" name="CID" value="1" readonly>            
                    @* Motion Details Form *@
                    <div id="Motion" style="display:none;"> 
                                <div class="form-group">
                                <label for="Cname">Condition Name:</label>
                                <input type="text" class="form-control" name="MCName" placeholder="Enter Condition Name...">
                                </div>
                                <div class="form-group">
                                <label>Category:</label>
                                <label for="cat_sel2">Select Device:</label>
                                <input id="idev" type="hidden" class="form-control" name="MDCID">
                                <select class="form-control" id="dev">
                                <option>--Please choose a device--</option>
                                if(@CondData != null){
                                @for (var i = 0; i < CondData.Count; i++) 
                                {   
                                  if(@CondData[i].CatID == 1){
                                    <option value="@CondData[i].DevConID">@CondData[i].DevCondition </option>  
                                  }
                                } 
                                }
                                </select>
                                <label for="HP">Human Presence:</label>
                                <input type="text" class="form-control" id="HP" name="HP"  placeholder="Enter Yes or No">
                                <label for="PP">Pet Presence:</label>
                                <input type="text" class="form-control" id="PP" name="PP"  placeholder="Enter Yes or No">
                                </div>
                                <button  type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>


                    @* Timer Details Form *@
                    <div id="Timer" style="display:none;">
                                <div class="form-group">
                                <label for="Cname">Condition Name:</label>
                                <input type="text" class="form-control" name="TCName" placeholder="Enter Condition Name...">
                                </div>
                                <div class="form-group">
                                <label>Category:</label>
                                <label for="cat_sel3">Select Device:</label>
                                @* This part the TDCID is empty *@
                                <input id="idevT" type="hidden" class="form-control" name="TDCID">
                                <select class="form-control" id="devT">
                                <option>--Please choose a device--</option>
                                if(@CondData != null){
                                @for (var i = 0; i < CondData.Count; i++) 
                                {   
                                  if(@CondData[i].CatID == 2){
                                    <option value="@CondData[i].DevConID">@CondData[i].DevCondition </option>  
                                  }
                                } 
                                }
                                </select>
                                <label for="tm">Time:</label>
                                <input type="text" class="form-control" id="tm" name="tm"  placeholder="Set Timing">
                                </div>
                                <br>
                                <button  type="submit" class="btn btn-primary btn-sm">Save Condition</button>
                    </div>   
                    </section>

              </div>
            </div>

            <br/>
            <br/>
            <!--Action from here-->
            <div id="action" class=" btn btn-default border rounded" data-toggle="collapse" href="#collapseAction"  type="button" >Add Action</div>
            <div class="collapse" id="collapseAction">
              <div class="card card-body">
               Put Action stuff here
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button  type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
</div>
