@using ICT2106.Models.Rules
@model ICT2106.Models.Rules.IRule
@{
    ViewData["Title"] = "RuleCreation";
    var viewDataRule = ViewData["RuleData"] as IList<IRule>;
}
<!-- <h1>@ViewData["Title"]</h1> -->
    <h1>Rules</h1>
    <br/>
    <button type="button" style="float: right;" class="btn btn-primary ml-1" data-toggle="modal" data-target="#myModal">Add</button>
    <br/>
    @using (Html.BeginForm("RuleDelete", "Rule",FormMethod.Post))
      {
            @Html.TextBoxFor(model => model.RuleName, htmlAttributes: new { @Value="asdasd"})
            @Html.TextBoxFor(model => model.RuleID, new { @id = "hfID", @style = "display:none"})
            <input id="delete_entry" type="submit" value="delete" style="float: right;" class="btn btn-labeled btn-danger"/>

            <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
                $(function () {
                    $("#delete_entry").click(function () {

                        $("#hfID").val(123);
                        console.log($("#hfName").val())
                    });
                });
            </script>
      }
        <ul class="list-group">
        @for (var i = 0; i < viewDataRule.Count; i++) 
        {
                <li class="list-group-item">@viewDataRule[i].RuleID @viewDataRule[i].RuleName
                    <button  type="submit" style="float: right;" class="btn btn-labeled btn-danger">
                    <span class="btn-label"><i class="fas fa-trash-alt"></i></span></button>
                    <button type="button" style="float: right;" class="btn btn-labeled btn-info mr-1">
                    <span class="btn-label">Edit</span></button>
                </li>
        }
        </ul>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        @using (Html.BeginForm("RuleAdd", "Rule",FormMethod.Post))
        {
        <div class="modal-body">
            <label>Rule Name:</label><br/>
            @Html.TextBoxFor(x => x.RuleName)
            <br/>
            <label>Rule ID:</label><br/>
            @Html.TextBoxFor(x => x.RuleID)
            <br/>
      </div>
      <div class="modal-footer">
        <input  type="submit" value="Submit" class="btn btn-default"/>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
        }
    </div>

  </div>
</div>
