@using ICT2106.Models.RuleTableModule
@using ICT2106.Models.DevcatTableModule
@using ICT2106.Models.DevcondTableModule
@using ICT2106.Models.MotionDetailsModule
@using ICT2106.Models.TimerDetailsModule
@model (ICT2106.Models.RuleTableModule.IRule,ICT2106.Models.DevcatTableModule.IDevcat , ICT2106.Models.DevcondTableModule.IDevcond, ICT2106.Models.MotionDetailsModule.IMotionDetails, ICT2106.Models.TimerDetailsModule.ITimerDetails)
@{
    ViewData["Title"] = "RuleCreation";
    var actionData = ViewData["ActionList"] as List<ActionModel>;
    var viewDataRule = ViewData["RuleData"] as IList<IRule>;
    var CatData = ViewData["CatData"] as IList<IDevcat>;
    var CondData = ViewData["ConData"] as IList<IDevcond>;
    var MotionData = ViewData["MotionData"] as IList<IMotionDetails>;
    var TimerData = ViewData["TimerData"] as IList<ITimerDetails>;
    <!--ACTION SUTFF AT LINE 175, 292---ACTION SUTFF AT LINE 175, 292-------ACTION SUTFF AT LINE 175, 292------ACTION SUTFF AT LINE 175, 292----ACTION SUTFF AT LINE 175, 292-----ACTION SUTFF AT LINE 175, 292--------------------------->  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
            $(document).ready(function () {
                $("#catsel").change(function() {
                        if(this.value == 1){
                            $("#icid").val(1);
                            $("#Timer").hide();
                            $("#Motion").show();
                        }
                        else if(this.value == 2){
                            $("#icid").val(2);
                            $("#Motion").hide();
                            $("#Timer").show();
                        }
              });
    

              $("#editcatsel").change(function() {
                        if(this.value == 1){
                            $("#editicid").val(1);
                        }
                        else if(this.value == 2){
                            $("#editicid").val(2);
                        }
              });
              $("#adddev").change(function() {
                    $("#addidev").val(this.value);
              });

              $("#adddevT").change(function() {
                    $("#addidevT").val(this.value);
              });
            });
        });

          function editmode(rid){
            $("#delete"+rid).hide();
            $("#edit"+rid).hide();
            $("#save"+rid).show();
            $("#cancel"+rid).show();
            $("#Rule"+rid+" :input").attr("readonly", false);
            $("#Rule"+rid).find("select").attr("disabled", false);
          }

          function viewmode(rid){
            $("#delete"+rid).show();
            $("#edit"+rid).show();
            $("#save"+rid).hide();
            $("#cancel"+rid).hide();
            $("#Rule"+rid+" :input").attr("readonly", true);
            $("#Rule"+rid).find("select").attr("disabled", true);
          }
        </script>
<!--ACTION SUTFF AT LINE 175---ACTION SUTFF AT LINE 175, 292-------ACTION SUTFF AT LINE 175, 292------ACTION SUTFF AT LINE 175, 292----ACTION SUTFF AT LINE 175, 292-----ACTION SUTFF AT LINE 175, 292--------------------------->  
        <h1>Rules</h1>
        <br/>
        <button type="button" style="float: right;" class="btn btn-primary ml-1" data-toggle="modal" data-target="#myModal">Add</button>
        <br/>
        <ul class="list-group">
        @for (var i = 0; i < viewDataRule.Count; i++) 
        {       
          <!--Start of edit rule-->
          <div id="Rule@(i)" class="border" style="padding:20px;">
          <form method="post" method="get" action="/Rule/RuleEdit" style="margin:10px;">
          <input id="RuleIDEdit" type="hidden" name="ruleIDEdit" class="form-control" value="@viewDataRule[i].RuleID" readonly/>
          <label>Rule Name:</label><br/>
          <input id="RuleNameEdit" type="text" name="ruleNameEdit" class="form-control" value="@viewDataRule[i].RuleName" readonly/>
          <br/>
          <br/>
          <!--Condition from here-->
          <div id="condition" data-toggle="collapse" href="#collapseCondition@(i)" class="btn btn-default border rounded" type="button">Condition</div>
          <input id="ConIDEdit" type="hidden" name="conIDEdit" class="form-control" value="@viewDataRule[i].Condition.ConditionID" readonly/>
          <div class="collapse" id="collapseCondition@(i)">
            <div class="card card-body">
                <section id="sel_ConCat">
                      <h1>Condition Details:</h1>
                      <label for="cat_sel">Category:</label>
                          @if(CatData != null){
                            @for (var n = 0; n < CatData.Count; n++) 
                            {
                              if(@CatData[n].CatID == @viewDataRule[i].Condition.Devcat){
                                <h4>@CatData[n].CatName</h4>
                              }

                            }
                          }  
                      <input id="editicid" type="hidden" class="form-control" name="CID" value="@viewDataRule[i].Condition.Devcat" readonly> 
                      @if(@viewDataRule[i].Condition.Devcat == 1){
                      @* Motion Details Form *@
                      @:<div id="EditMotion"> 
                            @:<div class="form-group">
                            @:<label for="Cname">Condition Name:</label>
                            @:<input type="text" class="form-control" name="MCName" value="@viewDataRule[i].Condition.CName" readonly>
                            @:</div>
                            @:<div class="form-group">
                            @:<label>Select Device:</label>
                            @:<input id="idev" type="hidden" class="form-control" name="MDCID" value="@viewDataRule[i].Condition.Devcon" readonly>
                            @:<select class="form-control" id="dev" disabled>
                            @:<option>--Please choose a device--</option>
                            @if(@CondData != null){
                            @for (var j = 0; j < @CondData.Count; j++) 
                            {   
                              @if(@CondData[j].DevConID == @viewDataRule[i].Condition.Devcon){
                                @:<option value="@CondData[j].DevConID" selected>@CondData[j].DevCondition </option>  
                              }
                              else if(@CondData[j].CatID == @viewDataRule[i].Condition.Devcat){
                                @:<option value="@CondData[j].DevConID">@CondData[j].DevCondition </option>
                              }
                            } 
                            }
                            @:</select>
                            @for(int k = 0; k<@MotionData.Count; k++){
                              @if(@MotionData[k].CondID == @viewDataRule[i].Condition.ConditionID){
                                @:<label for="HP">Human Presence:</label>
                                @:<input type="text" class="form-control" id="HP" name="HP"  value="@MotionData[k].HumanPresence" readonly>
                                @:<label for="PP">Pet Presence:</label>
                                @:<input type="text" class="form-control" id="PP" name="PP"  value="@MotionData[k].PetPresence" readonly>
                              }
                            }
                            @:</div>
                      @:</div>
                      }
                      else if(@viewDataRule[i].Condition.Devcat == 2){
                      @* Timer Details Form *@
                      @:<div id="EditTimer">
                            @:<div class="form-group">
                            @:<label for="Cname">Condition Name:</label>
                            @:<input type="text" class="form-control" name="TCName" value="@viewDataRule[i].Condition.CName" readonly>
                            @:</div>
                            @:<div class="form-group">
                            @:<label for="cat_sel3">Select Device:</label>
                            @:<input id="idevT" type="hidden" class="form-control" name="TDCID" value="@viewDataRule[i].Condition.Devcon" readonly>
                            @:<select class="form-control" id="devT" disabled>
                            @:<option>--Please choose a device--</option>
                            if(@CondData != null){
                            @for (var j = 0; j < @CondData.Count; j++) 
                            {   
                              @if(@CondData[j].DevConID == @viewDataRule[i].Condition.Devcon){
                                @:<option value="@CondData[j].DevConID" selected>@CondData[j].DevCondition </option>  
                              }
                              else if(@CondData[j].CatID == @viewDataRule[i].Condition.Devcat){
                                @:<option value="@CondData[j].DevConID">@CondData[j].DevCondition </option>
                              }
                            } 
                            }
                            @:</select>

                            @for(int k = 0; k<@TimerData.Count; k++){
                              if(@TimerData[k].CondID == @viewDataRule[i].Condition.ConditionID){
                                @:<label for="tm">Time:</label>
                                @:<input type="text" class="form-control" id="tm" name="tm"  value="@TimerData[k].Time" readonly>
                              }
                            }
                            @:</div>
                      @:</div>   
                      }
                </section>
              </div>
            </div>
            <br/>
            <br/>
<!------------------------------------------------------------------Action from here------------------------------------------------------------------>
            <div id="action" class=" btn btn-default border rounded" data-toggle="collapse" href="#collapseAction@(i)"  type="button" >Action</div>
            <div class="collapse" id="collapseAction@(i)">
                <div class="card card-body">
                    <h1>Action Details:</h1>
                    @if (actionData[i].ACTIONCATEGORY == "Lighting")
                    {
                            <div class="form-group">
                                <label for="actionName">Action Name</label>
                                <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@actionData[i].ACTIONNAME" readonly/>
                                <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@actionData[i].ACTIONID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionCategory">Action Category</label>
                                <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@actionData[i].ACTIONCATEGORY" readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionDevice">Action Device</label>
                                <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@actionData[i].DEVICENAME" readonly />
                                <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@actionData[i].DEVICEID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="lightingStatus">@actionData[i].ACTIONPROPERTYNAME[0]</label>
                                <input type="text" class="form-control" id="lightingStatus" name="actionProperties[0]" value="@actionData[i].ACTIONPROPERTYLIST[0]" readonly />
                                <input type="text" class="form-control" id="lightingStatusName" name="actionPropertiesName[0]" value="@actionData[i].ACTIONPROPERTYNAME[0]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="lightingBrightness">@actionData[i].ACTIONPROPERTYNAME[1]</label>
                                <input type="number" class="form-control" id="lightingBrightness" name="actionProperties[1]" min="1" max="100" value="@actionData[i].ACTIONPROPERTYLIST[1]" placeholder="Enter Brigtness From 1 - 100" readonly>
                                <input type="text" class="form-control" id="lightingBrightnessName" name="actionPropertiesName[1]" value="@actionData[i].ACTIONPROPERTYNAME[1]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="lightingColor">@actionData[i].ACTIONPROPERTYNAME[2]</label>
                                <input type="text" class="form-control" id="lightingColor" name="actionProperties[2]" value="@actionData[i].ACTIONPROPERTYLIST[2]" readonly/>
                                <input type="text" class="form-control" id="lightingColorName" name="actionPropertiesName[2]" value="@actionData[i].ACTIONPROPERTYNAME[2]" hidden readonly />
                            </div>
                        }
                        else if (actionData[i].ACTIONCATEGORY == "Security")
                        {
                            <div class="form-group">
                                <label for="actionName">Action Name</label>
                                <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@actionData[i].ACTIONNAME" readonly/>
                                <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@actionData[i].ACTIONID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionCategory">Action Category</label>
                                <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@actionData[i].ACTIONCATEGORY" readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionDevice">Action Device</label>
                                <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@actionData[i].DEVICENAME" readonly />
                                <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@actionData[i].DEVICEID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="securityStatus">@actionData[i].ACTIONPROPERTYNAME[0]</label>
                                <input type="text" class="form-control" id="securityStatus" name="actionProperties[0]" value="@actionData[i].ACTIONPROPERTYLIST[0]" readonly/>
                                <input type="text" class="form-control" id="securityStatusName" name="actionPropertiesName[0]" value="@actionData[i].ACTIONPROPERTYNAME[0]" hidden readonly />
                            </div>
                        }
                        else if (actionData[i].ACTIONCATEGORY == "Air Treatment")
                        {
                            <div class="form-group">
                                <label for="actionName">Action Name</label>
                                <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@actionData[i].ACTIONNAME" readonly/>
                                <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@actionData[i].ACTIONID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionCategory">Action Category</label>
                                <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@actionData[i].ACTIONCATEGORY" readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionDevice">Action Device</label>
                                <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@actionData[i].DEVICENAME" readonly />
                                <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@actionData[i].DEVICEID" hidden readonly />
                            </div>


                            <div class="form-group">
                                <label for="airStatus">@actionData[i].ACTIONPROPERTYNAME[0]</label>
                                <input type="text" class="form-control" id="airStatus" name="actionProperties[0]" value="@actionData[i].ACTIONPROPERTYLIST[0]" readonly/>
                                <input type="text" class="form-control" id="airStatusName" name="actionPropertiesName[0]" value="@actionData[i].ACTIONPROPERTYNAME[0]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="airSpeed">@actionData[i].ACTIONPROPERTYNAME[1]</label>
                                <input type="text" class="form-control" id="airSpeed" name="actionProperties[1]" value="@actionData[i].ACTIONPROPERTYLIST[1]" readonly/>
                                <input type="text" class="form-control" id="airSpeedName" name="actionPropertiesName[1]" value="@actionData[i].ACTIONPROPERTYNAME[1]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="airPan">@actionData[i].ACTIONPROPERTYNAME[2]</label>
                                <input type="text" class="form-control" id="airPan" name="actionProperties[2]" value="@actionData[i].ACTIONPROPERTYLIST[2]" readonly/>
                                <input type="text" class="form-control" id="airPanName" name="actionPropertiesName[2]" value="@actionData[i].ACTIONPROPERTYNAME[2]" hidden readonly />
                            </div>
                        }
                        else if (actionData[i].ACTIONCATEGORY == "Camera")
                        {
                            <div class="form-group">
                                <label for="actionName">Action Name</label>
                                <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@actionData[i].ACTIONNAME" readonly/>
                                <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@actionData[i].ACTIONID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionCategory">Action Category</label>
                                <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@actionData[i].ACTIONCATEGORY" readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionDevice">Action Device</label>
                                <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@actionData[i].DEVICENAME" readonly />
                                <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@actionData[i].DEVICEID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="cameraStatus">@actionData[i].ACTIONPROPERTYNAME[0]</label>
                                <input type="text" class="form-control" id="cameraStatus" name="actionProperties[0]" value="@actionData[i].ACTIONPROPERTYLIST[0]" readonly />
                                <input type="text" class="form-control" id="cameraStatusName" name="actionPropertiesName[0]" value="@actionData[i].ACTIONPROPERTYNAME[0]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="cameraAngle">@actionData[i].ACTIONPROPERTYNAME[1]</label>
                                <input type="number" class="form-control" id="cameraAngle" name="actionProperties[1]" min="0" max="360" placeholder="Enter Camera Viewing Angle From 0 - 360" value="@actionData[i].ACTIONPROPERTYLIST[1]">
                                <input type="text" class="form-control" id="cameraAngleName" name="actionPropertiesName[1]" value="@actionData[i].ACTIONPROPERTYNAME[1]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="cameraRecord">@actionData[i].ACTIONPROPERTYNAME[2]</label>
                                <input type="text" class="form-control" id="cameraRecord" name="actionProperties[2]" value="@actionData[i].ACTIONPROPERTYLIST[2]" readonly/>
                                <input type="text" class="form-control" id="cameraRecordName" name="actionPropertiesName[2]" value="@actionData[i].ACTIONPROPERTYNAME[2]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="cameraSS">@actionData[i].ACTIONPROPERTYNAME[3]</label>
                                <input type="text" class="form-control" id="cameraSS" name="actionProperties[3]" value="@actionData[i].ACTIONPROPERTYLIST[3]" readonly/>
                                <input type="text" class="form-control" id="cameraSSName" name="actionPropertiesName[3]" value="@actionData[i].ACTIONPROPERTYNAME[3]" hidden readonly />
                            </div>
                        }
                        else if (actionData[i].ACTIONCATEGORY == "Speaker")
                        {
                            <div class="form-group">
                                <label for="actionName">Action Name</label>
                                <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@actionData[i].ACTIONNAME" readonly/>
                                <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@actionData[i].ACTIONID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionCategory">Action Category</label>
                                <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@actionData[i].ACTIONCATEGORY" readonly />
                            </div>

                            <div class="form-group">
                                <label for="actionDevice">Action Device</label>
                                <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@actionData[i].DEVICENAME" readonly />
                                <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@actionData[i].DEVICEID" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerStatus">@actionData[i].ACTIONPROPERTYNAME[0]</label>
                                <input type="text" class="form-control" id="speakerStatus" name="actionProperties[0]" value="@actionData[i].ACTIONPROPERTYLIST[0]" readonly/>
                                <input type="text" class="form-control" id="speakerStatusName" name="actionPropertiesName[0]" value="@actionData[i].ACTIONPROPERTYNAME[0]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerService">@actionData[i].ACTIONPROPERTYNAME[1]</label>
                                <input type="text" class="form-control" id="speakerService" name="actionProperties[1]" value="@actionData[i].ACTIONPROPERTYLIST[1]" readonly/>
                                <input type="text" class="form-control" id="speakerServiceName" name="actionPropertiesName[1]" value="@actionData[i].ACTIONPROPERTYNAME[1]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerPlaylist">@actionData[i].ACTIONPROPERTYNAME[2]</label>
                                <input type="text" class="form-control" id="speakerPlaylist" name="actionProperties[2]" value="@actionData[i].ACTIONPROPERTYLIST[2]" readonly/>
                                <input type="text" class="form-control" id="speakerPlaylistName" name="actionPropertiesName[2]" value="@actionData[i].ACTIONPROPERTYNAME[2]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerSong">@actionData[i].ACTIONPROPERTYNAME[3]</label>
                                <input type="text" class="form-control" id="speakerSong" name="actionProperties[3]" value="@actionData[i].ACTIONPROPERTYLIST[3]" readonly/>
                                <input type="text" class="form-control" id="speakerSongName" name="actionPropertiesName[3]" value="@actionData[i].ACTIONPROPERTYNAME[3]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerState">@actionData[i].ACTIONPROPERTYNAME[4]</label>
                                <input type="text" class="form-control" id="speakerState" name="actionProperties[4]" value="@actionData[i].ACTIONPROPERTYLIST[4]" readonly/>
                                <input type="text" class="form-control" id="speakerStateName" name="actionPropertiesName[4]" value="@actionData[i].ACTIONPROPERTYNAME[4]" hidden readonly />
                            </div>

                            <div class="form-group">
                                <label for="speakerVolume">@actionData[i].ACTIONPROPERTYNAME[5]</label>
                                <input type="number" class="form-control" id="speakerVolume" name="actionProperties[5]" min="0" max="100" value="@actionData[i].ACTIONPROPERTYLIST[5]" placeholder="Enter Volume From 0 - 100" readonly>
                                <input type="text" class="form-control" id="speakerVolumeName" name="actionPropertiesName[5]" value="@actionData[i].ACTIONPROPERTYNAME[5]" hidden readonly />
                            </div>
                    }
                </div>
            </div>
<!------------------------------------------------------------------Action from here------------------------------------------------------------------>
            <br/>
            <br/>
            <button id="save@(i)" type="submit" class="btn btn-secondary" style="display:none;">save</button>
            <button id="cancel@(i)" type="button" class="btn btn-secondary" onclick="viewmode(@(i))" style="display:none;">cancel</button>
          </form>
          <form method="post" method="get" action="/Rule/RuleDelete" style="margin:10px;">
            <input type="hidden" class="form-control" name="delcatid" value="@viewDataRule[i].Condition.Devcat" readonly> 
            <input type="hidden" name="delrid" class="form-control" value="@viewDataRule[i].RuleID" readonly/>
            <input type="hidden" name="delcid" class="form-control" value="@viewDataRule[i].Condition.ConditionID" readonly/>
            <button id="edit@(i)" type="button" class="btn btn-secondary" onclick="editmode(@(i))">Edit</button>
            <button id="delete@(i)" type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        }
        </ul>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form method="post" method="get" action="/Rule/RuleAdd">
            <div class="modal-body">
                <label>Rule Name:</label><br/>
                <input id="RuleNameIn" type="text" name="addRule" class="btn btn-default border"/>
                <br/>
                <br/>
                <!--Condition from here-->
                <div id="condition" data-toggle="collapse" href="#collapseCondition" class="btn btn-default border rounded" type="button">Add Condition</div>
                <div class="collapse" id="collapseCondition">
                  <div class="card card-body">  
                      <section id="sel_ConCat">
                            <h1>Condition Details:</h1>
                                    <label for="cat_sel">Select Category:</label>
                                    <select id="catsel" class="form-control" name="category">
                                      <option>--Please choose a category--</option>
                                        @if(CatData != null){
                                          @for (var i = 0; i < CatData.Count; i++) 
                                          {
                                            <option id="cat"value="@CatData[i].CatID">@CatData[i].CatName </option> 
                                          }
                                        }  
                                    </select>
                        <input id="icid" type="text" class="form-control" name="CID" value="1" readonly>            
                        @* Motion Details Form *@
                        <div id="Motion" style="display:none;"> 
                                    <div class="form-group">
                                    <label for="Cname">Condition Name:</label>
                                    <input type="text" class="form-control" name="MCName" placeholder="Enter Condition Name...">
                                    </div>
                                    <div class="form-group">
                                    <label for="cat_sel2">Select Device:</label>
                                    <input id="addidev" type="hidden" class="form-control" name="MDCID">
                                    <select class="form-control" id="adddev">
                                    <option>--Please choose a device--</option>
                                    if(@CondData != null){
                                    @for (var i = 0; i < CondData.Count; i++) 
                                    {   
                                      if(@CondData[i].CatID == 1){
                                        <option value="@CondData[i].DevConID">@CondData[i].DevCondition </option>  
                                      }
                                    } 
                                    }
                                    </select>
                                    <label for="HP">Human Presence:</label>
                                    <input type="text" class="form-control" id="HP" name="HP"  placeholder="Enter Yes or No">
                                    <label for="PP">Pet Presence:</label>
                                    <input type="text" class="form-control" id="PP" name="PP"  placeholder="Enter Yes or No">
                                    </div>
                        </div>


                        @* Timer Details Form *@
                        <div id="Timer" style="display:none;">
                                    <div class="form-group">
                                    <label for="Cname">Condition Name:</label>
                                    <input type="text" class="form-control" name="TCName" placeholder="Enter Condition Name...">
                                    </div>
                                    <div class="form-group">
                                    <label for="cat_sel3">Select Device:</label>
                                    @* This part the TDCID is empty *@
                                    <input id="addidevT" type="hidden" class="form-control" name="TDCID">
                                    <select class="form-control" id="adddevT">
                                    <option>--Please choose a device--</option>
                                    if(@CondData != null){
                                    @for (var i = 0; i < CondData.Count; i++) 
                                    {   
                                      if(@CondData[i].CatID == 2){
                                        <option value="@CondData[i].DevConID">@CondData[i].DevCondition </option>  
                                      }
                                    } 
                                    }
                                    </select>
                                    <label for="tm">Time:</label>
                                    <input type="text" class="form-control" id="tm" name="tm"  placeholder="Set Timing">
                                    </div>
                                    <br>
                        </div>   
                        </section>

                  </div>
                </div>

                <br/>
                <br/>
<!------------------------------------------------Action from here------------------------------------------------>
                <div id="action" class=" btn btn-default border rounded" data-toggle="collapse" href="#collapseAction"  type="button" >Add Action</div>
                <div class="collapse" id="collapseAction">
                    <div class="card card-body">
                        <h1>Action Details:</h1>
                        @if (ViewData["ActionData"] != null)
                        {
                            var action = ViewData["ActionData"] as ActionModel;

                            @if (action.ACTIONCATEGORY == "Lighting")
                            {
                                <div class="form-group">
                                    <label for="actionName">Action Name</label>
                                    <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@action.ACTIONNAME"/>
                                    <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@action.ACTIONID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionCategory">Action Category</label>
                                    <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@action.ACTIONCATEGORY" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionDevice">Action Device</label>
                                    <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@action.DEVICENAME" readonly />
                                    <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@action.DEVICEID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="lightingStatus">@action.ACTIONPROPERTYNAME[0]</label>
                                    <input type="text" class="form-control" id="lightingStatus" name="actionProperties[0]" value="@action.ACTIONPROPERTYLIST[0]" />
                                    <input type="text" class="form-control" id="lightingStatusName" name="actionPropertiesName[0]" value="@action.ACTIONPROPERTYNAME[0]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="lightingBrightness">@action.ACTIONPROPERTYNAME[1]</label>
                                    <input type="text" class="form-control" id="lightingBrightness" name="actionProperties[1]" value="@action.ACTIONPROPERTYLIST[1]" />
                                    <input type="text" class="form-control" id="lightingBrightnessName" name="actionPropertiesName[1]" value="@action.ACTIONPROPERTYNAME[1]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="lightingColor">@action.ACTIONPROPERTYNAME[2]</label>
                                    <input type="text" class="form-control" id="lightingColor" name="actionProperties[2]" value="@action.ACTIONPROPERTYLIST[2]"  />
                                    <input type="text" class="form-control" id="lightingColorName" name="actionPropertiesName[2]" value="@action.ACTIONPROPERTYNAME[2]" hidden readonly />
                                </div>
                            }
                            else if (action.ACTIONCATEGORY == "Security")
                            {
                                <div class="form-group">
                                    <label for="actionName">Action Name</label>
                                    <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@action.ACTIONNAME" />
                                    <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@action.ACTIONID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionCategory">Action Category</label>
                                    <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@action.ACTIONCATEGORY" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionDevice">Action Device</label>
                                    <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@action.DEVICENAME" readonly />
                                    <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@action.DEVICEID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="securityStatus">@action.ACTIONPROPERTYNAME[0]</label>
                                    <input type="text" class="form-control" id="securityStatus" name="actionProperties[0]" value="@action.ACTIONPROPERTYLIST[0]" />
                                    <input type="text" class="form-control" id="securityStatusName" name="actionPropertiesName[0]" value="@action.ACTIONPROPERTYNAME[0]" hidden readonly />
                                </div>
                            }
                            else if (action.ACTIONCATEGORY == "Air Treatment")
                            {
                                <div class="form-group">
                                    <label for="actionName">Action Name</label>
                                    <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@action.ACTIONNAME" />
                                    <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@action.ACTIONID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionCategory">Action Category</label>
                                    <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@action.ACTIONCATEGORY" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionDevice">Action Device</label>
                                    <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@action.DEVICENAME" readonly />
                                    <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@action.DEVICEID" hidden readonly />
                                </div>


                                <div class="form-group">
                                    <label for="airStatus">@action.ACTIONPROPERTYNAME[0]</label>
                                    <input type="text" class="form-control" id="airStatus" name="actionProperties[0]" value="@action.ACTIONPROPERTYLIST[0]"  />
                                    <input type="text" class="form-control" id="airStatusName" name="actionPropertiesName[0]" value="@action.ACTIONPROPERTYNAME[0]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="airSpeed">@action.ACTIONPROPERTYNAME[1]</label>
                                    <input type="text" class="form-control" id="airSpeed" name="actionProperties[1]" value="@action.ACTIONPROPERTYLIST[1]" />
                                    <input type="text" class="form-control" id="airSpeedName" name="actionPropertiesName[1]" value="@action.ACTIONPROPERTYNAME[1]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="airPan">@action.ACTIONPROPERTYNAME[2]</label>
                                    <input type="text" class="form-control" id="airPan" name="actionProperties[2]" value="@action.ACTIONPROPERTYLIST[2]" />
                                    <input type="text" class="form-control" id="airPanName" name="actionPropertiesName[2]" value="@action.ACTIONPROPERTYNAME[2]" hidden readonly />
                                </div>
                            }
                            else if (action.ACTIONCATEGORY == "Camera")
                            {
                                <div class="form-group">
                                    <label for="actionName">Action Name</label>
                                    <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@action.ACTIONNAME" />
                                    <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@action.ACTIONID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionCategory">Action Category</label>
                                    <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@action.ACTIONCATEGORY" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionDevice">Action Device</label>
                                    <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@action.DEVICENAME" readonly />
                                    <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@action.DEVICEID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="cameraStatus">@action.ACTIONPROPERTYNAME[0]</label>
                                    <input type="text" class="form-control" id="cameraStatus" name="actionProperties[0]" value="@action.ACTIONPROPERTYLIST[0]" />
                                    <input type="text" class="form-control" id="cameraStatusName" name="actionPropertiesName[0]" value="@action.ACTIONPROPERTYNAME[0]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="cameraAngle">@action.ACTIONPROPERTYNAME[1]</label>
                                    <input type="text" class="form-control" id="cameraAngle" name="actionProperties[1]" value="@action.ACTIONPROPERTYLIST[1]"/>
                                    <input type="text" class="form-control" id="cameraAngleName" name="actionPropertiesName[1]" value="@action.ACTIONPROPERTYNAME[1]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="cameraRecord">@action.ACTIONPROPERTYNAME[2]</label>
                                    <input type="text" class="form-control" id="cameraRecord" name="actionProperties[2]" value="@action.ACTIONPROPERTYLIST[2]" />
                                    <input type="text" class="form-control" id="cameraRecordName" name="actionPropertiesName[2]" value="@action.ACTIONPROPERTYNAME[2]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="cameraSS">@action.ACTIONPROPERTYNAME[3]</label>
                                    <input type="text" class="form-control" id="cameraSS" name="actionProperties[3]" value="@action.ACTIONPROPERTYLIST[3]" />
                                    <input type="text" class="form-control" id="cameraSSName" name="actionPropertiesName[3]" value="@action.ACTIONPROPERTYNAME[3]" hidden readonly />
                                </div>
                            }
                            else if (action.ACTIONCATEGORY == "Speaker")
                            {
                                <div class="form-group">
                                    <label for="actionName">Action Name</label>
                                    <input type="text" class="form-control" id="actionName" name="actionDetails[0]" value="@action.ACTIONNAME" />
                                    <input type="text" class="form-control" id="actionID" name="actionDetails[1]" value="@action.ACTIONID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionCategory">Action Category</label>
                                    <input type="text" class="form-control" id="actionCategory" name="actionDetails[2]" value="@action.ACTIONCATEGORY" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="actionDevice">Action Device</label>
                                    <input type="text" class="form-control" id="actionDevice" name="actionDetails[3]" value="@action.DEVICENAME" readonly />
                                    <input type="text" class="form-control" id="actionDeviceID" name="actionDetails[4]" value="@action.DEVICEID" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerStatus">@action.ACTIONPROPERTYNAME[0]</label>
                                    <input type="text" class="form-control" id="speakerStatus" name="actionProperties[0]" value="@action.ACTIONPROPERTYLIST[0]" />
                                    <input type="text" class="form-control" id="speakerStatusName" name="actionPropertiesName[0]" value="@action.ACTIONPROPERTYNAME[0]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerService">@action.ACTIONPROPERTYNAME[1]</label>
                                    <input type="text" class="form-control" id="speakerService" name="actionProperties[1]" value="@action.ACTIONPROPERTYLIST[1]" />
                                    <input type="text" class="form-control" id="speakerServiceName" name="actionPropertiesName[1]" value="@action.ACTIONPROPERTYNAME[1]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerPlaylist">@action.ACTIONPROPERTYNAME[2]</label>
                                    <input type="text" class="form-control" id="speakerPlaylist" name="actionProperties[2]" value="@action.ACTIONPROPERTYLIST[2]"  />
                                    <input type="text" class="form-control" id="speakerPlaylistName" name="actionPropertiesName[2]" value="@action.ACTIONPROPERTYNAME[2]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerSong">@action.ACTIONPROPERTYNAME[3]</label>
                                    <input type="text" class="form-control" id="speakerSong" name="actionProperties[3]" value="@action.ACTIONPROPERTYLIST[3]" />
                                    <input type="text" class="form-control" id="speakerSongName" name="actionPropertiesName[3]" value="@action.ACTIONPROPERTYNAME[3]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerState">@action.ACTIONPROPERTYNAME[4]</label>
                                    <input type="text" class="form-control" id="speakerState" name="actionProperties[4]" value="@action.ACTIONPROPERTYLIST[4]" />
                                    <input type="text" class="form-control" id="speakerStateName" name="actionPropertiesName[4]" value="@action.ACTIONPROPERTYNAME[4]" hidden readonly />
                                </div>

                                <div class="form-group">
                                    <label for="speakerVolume">@action.ACTIONPROPERTYNAME[5]</label>
                                    <input type="text" class="form-control" id="speakerVolume" name="actionProperties[5]" value="@action.ACTIONPROPERTYLIST[5]" />
                                    <input type="text" class="form-control" id="speakerVolumeName" name="actionPropertiesName[5]" value="@action.ACTIONPROPERTYNAME[5]" hidden readonly />
                                </div>
                            }
                        }
                    </div>
                </div>
<!------------------------------------------------Action from here------------------------------------------------>
          </div>
          <br/>
            <button  type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </form>
        </div>

      </div>
    </div>
}