<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            if($("#cat").val() != null){
                if($("#cat").val() == 1) {
                    $("#Motion").show();
                    $("#Timer").hide();
                } else {
                    $("#Motion").hide();
                    $("#Timer").show();
                } 
            }
            $("#dev").change(function(){
                var xxx = $("#dev").text().split(" ");
                $("#did").val(xxx[0]);
                console.log(xxx[0]);
            });
        });
    });
</script>
@using ICT2106.Models.DevcatTableModule
@using ICT2106.Models.DevcondTableModule
@using ICT2106.Models.ConditionTableModule
@model (ICT2106.Models.ConditionTableModule.Condition,ICT2106.Models.DevcatTableModule.IDevcat , ICT2106.Models.DevcondTableModule.IDevcond)
@{
    ViewData["Title"] = "Category";
    var CatData = ViewData["CatData"] as IList<IDevcat>;
    var DeviceData = ViewData["DeviceData"] as IList<IDevcond>;
    var ConditionData = ViewData["ConditionData"] as Condition;
}
<section id="sel_ConCat">
    <h1>Condition Details:</h1>
    @* //Testing Category select *@
        <form method="post" method="get" action="/Cat/SelDev">
            <label for="cat_sel">Select Category:</label>
            <select id="cat" class="form-control" name="category" onchange="this">
             @for (var i = 0; i < CatData.Count; i++) 
            {
                @if(ViewData["CatID"] != null){
                    @if(int.TryParse(ViewData["CatID"].ToString(),out int intValue)){
                        if(@CatData[i].CatID == intValue){
                        <option value="@CatData[i].CatID" selected="selected">@CatData[i].CatName </option>
                        }      
                        else{
                            <option value="@CatData[i].CatID">@CatData[i].CatName </option>
                        }
                    }     
                }
                else{
                    <option id = "cat"value="@CatData[i].CatID">@CatData[i].CatName </option>
                }    
            }
            </select>
            <button type="submit" class="btn btn-primary btn-sm" id="refresh" >Refresh Details</button>
        </form>

@* Motion Details Form *@
<div id="Motion" style="display:none;"> 
    <form method="post" method="get" action="/Cat/addNewCond">
    @* <form method="post" action="/Cat/MotionAdd"> *@
            <div class="form-group">
            <label for="Cname">Condition Name:</label>
            <input type="text" class="form-control" name="CName" placeholder="Enter Condition Name...">
            </div>
            <div class="form-group">
            <label>Category:</label>
            <input type="text" class="form-control" name="cat" value="@CatData[0].CatID" label="@CatData[0].CatName"readonly>
            <label for="cat_sel2">Select Device:</label>
            <select class="form-control" id="cat_sel2"onchange="this">
            @for (var i = 0; i < DeviceData.Count; i++) 
            {
                <option id="dev" name="dev" value="@DeviceData[i].DevConID">@DeviceData[i].DevID @DeviceData[i].DevCondition</option>
            } 
            </select>
            <input id="did" type="hidden" name="did" value=""> 
            <label for="HP">Human Presence:</label>
            <input type="text" class="form-control" id="HP" name="HP"  placeholder="Enter Yes or No">
            <label for="PP">Pet Presence:</label>
            <input type="text" class="form-control" id="PP" name="PP"  placeholder="Enter Yes or No">
            </div>
            <button  type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
</div>


@* Timer Details Form *@
<div id="Timer" style="display:none;">
<form method="post" method="get" action="/Cat/addNewCond">
    @* <form method="post" action="/Cat/InsertTimerDetails"> *@
            <div class="form-group">
            <label for="Cname">Condition Name:</label>
            <input type="text" class="form-control" name="CName" placeholder="Enter Condition Name...">
            </div>
            <div class="form-group">
            <label>Category:</label>
            <input type="text" class="form-control" name="cat" value="@CatData[1].CatName" readonly>
            <label for="cat_sel3">Select Device:</label>
            <select class="form-control" id="cat_sel3">
            @for (var i = 0; i < DeviceData.Count; i++) 
            {
                <option value="@DeviceData[i].DevConID">@DeviceData[i].DevID @DeviceData[i].DevCondition</option>
            } </select>
            <label for="tm">Time:</label>
            <input type="text" class="form-control" id="tm" name="tm"  placeholder="Set Timing">
            </div>
            @* <button  type="submit" class="btn btn-primary btn-sm">Save Details</button> *@
            <br>
            <button  type="submit" class="btn btn-primary btn-sm">Save Condition</button>
    </form>
 </div>   
</section>