@using ICT2106.Models.ConditionTableModule
@model ICT2106.Models.ConditionTableModule.Condition
@{
    ViewData["Title"] = "All condition";
    var ConditionData = ViewData["ConditionData"] as Condition;
    var viewDataCondition = ViewData["Condition"] as IList<ICondition>;
}

  <h1>Condition</h1>
    <br/>

           <table class="table table-bordered table-striped mb-0 results-table">
		   <tr>
		    <td>ConditionID</td>
            <td>CondName</td>
			<td>RuleID</td>
            <td>DevID</td>
            <td>DevCondID</td>
            <td>CatID</td>
			<td></td>
            <td></td>
		   </tr>
		  @for (var i = 0; i < viewDataCondition.Count; i++) 
		  {
		         <tr>
				  <td>@viewDataCondition[i].ConditionID</td>
  
		          <td> @viewDataCondition[i].CName</td>

                  <td>@viewDataCondition[i].RuleID</td>
   
                  <td>@viewDataCondition[i].DevID</td>

                   <td>@viewDataCondition[i].DName</td>
                 
                  <td>@viewDataCondition[i].Devcat</td>

                  <td><a href="/Condition/EditCondition" class="Button">Edit</a></td>

                 <td><button>Delete</button></td>
				  </tr>
		  }
		   </table>