@using ICT2106.Models.ConditionTableModule
@model ICT2106.Models.ConditionTableModule.Condition
@{
    ViewData["Title"] = "Add condition";
    var ConditionData = ViewData["ConditionData"] as Condition;
}

<section id="sel_ConCat">
    <h1>Select Condition Category:</h1>
    
    <form method="post" asp-action="Cond" asp-controller="Condition">
        <div class="form-group">
            <label for="cat_sel">Select Category:</label>
            <select class="form-control" id="cat_sel" asp-for="@Model.CCat">
                <option selected>@Model.getCategoryItem(0)</option>
                <option>@Model.getCategoryItem(1)</option>
            </select>
        </div>

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="conditionSubmit" value="Select Category">
        </div>
    </form>
</section>

@if (@Model.CCat != null)
{
    <form method="post" action="/Condition/createCond">
        <div class="form-group">
            <label for="Cname">Condition Name:</label>
            <input type="text" class="form-control" id="Cname" name="CName" asp-for="@Model.CName" placeholder="Enter Condition Name...">
        </div>

        <div class="form-group">
            <label for="Catname">Category:</label>
            <input type="text" class="form-control" id="Catname" name="Catname"asp-for="@Model.CCat" value="@Model.CCat" readonly>
        </div>

        <div class="form-group">
            <label for="Dname">Device Name:</label>
            <select class="form-control" id="Dname" name = "Dname"asp-for="@Model.DName">
                <option value="1">Bulb</option>
                <option value="2">Lamp</option>
            </select>
        </div>

        @for (var i = 0; i < @Model.CProp.Count; i++)
        {
            <div class="form-group">
                <label for="opt_@i">@Model.CProp[i]:</label>
                <input type="text" class="form-control" id="opt_@i" name="opt_@i" placeholder="Enter @Model.CProp[i] Value...">
            </div>
        }

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="conditionSubmit" value="Create Condition">
        </div>
    </form>
}